<table class="table table-striped border">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Direccion</th>
      <th scope="col">Telefono</th>
      <th scope="col">Correo</th>
    </tr>
  </thead>
  <tbody>
    @for (empresa of empresas; track empresa) {
      <tr>
        <th scope="row">{{ empresa.id }}</th>
        <td>{{ empresa.name }}</td>
        <td>{{ empresa.name }}</td>
        <td>{{ empresa.phone }}</td>
        <td>{{ empresa.email }}</td>
        <td>
          <dsb-badge-atom
            [text]="empresa.category"
            [type]="categoryMap[empresa.category]" >
          </dsb-badge-atom>
      </tr>
    }
  </tbody>
